 <hr>
 <br>
 <br>

<div class="app-card-container">
  <div class="card">
   

  # <div class="row">
  #   <div class="shadow">
  #     <%= image_tag "profile.jpg", width: "300", alt: "profile image" %>

  #     <div class="skills">
  #     <% @skills.each do |skill| %>
  #       <div class="skill">
  #         <h4><%= skill.title %></h4>
  #           <div class="progress">
  #             <div 
  #                class="progress-bar progress-bar-striped bg-info"
  #                role="progressbar"
  #                aria-valuenow="<%= skill.percent_utilized %>"
  #                aria-valuemax="100"
  #                style="width: <%= skill.percent_utilized %>%"
  #            ></div>
  #           </div>
  #        </div>
  #     <% end %>
  #     </div>
  #   </div>

      <div class="col-md-8">
        <p></p>

        <p></p>

        <p>
          <button
             class="btn btn-primary"
             type="button"
             data-toggle="collapse"
             data-target="#jobHistory"
             aria-expanded="false"
             aria-controller="jobHistory"
          >
             Job History
         </button>

         <button
             class="btn btn-primary"
             type="button"
             data-toggle="collapse"
             data-target="#education"
             aria-expanded="false"
             aria-controller="education"
          >
             Education
         </button>
        </p>

        <p>
         <div class="collapse" id="jobHistory">
            <div class="card card-block">
              United States Air Force (USAFR): Feb 2012 - Feb 2018 <span><br></span>
              Position: Engineering 
            </div>
            <div class="card card-block">
              Leidos: Nov 2015 - May 2018 <span><br></span>
              Position: Software Testing/Engineering (Intern)
            </div>-->
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              University of Central Florida<span><br></span>
              Information Technology<span><br></span>
              Phi Kappa Phi<span><br></span>
              
            </div>
            <div class="card card-block">
              Valencia College<span><br></span>
              Computer Programming & Analysis Degree<span><br></span>
              Cummulative GPA: 3.93
            </div>
          </div>
         </p>
      </div>
    </div>
  </div>
</div>




