 <hr>
 <br>
 <br>

<div class="app-card-container">
  <div class="card">
   

    <div class="row">
     <div class="shadow">

       <%= image_tag "profile.jpg", width: "300", alt: "profile image" %>
     </div>

        <div class="col-md-8">
         <p>Find me in app/views/pages/about.html.erb</p>

         <p>Find me in app/views/pages/about.html.erb</p>
        </div>
    </div>
  </div>
</div>




