<div class="app-card-container">
  <div class="card">

    <h1>Contact</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Phone</h3>

        <p><%= number_to_phone "4074087202" %></p>
        
        <h3>Email</h3>

        <p><a href="mailto:johntae.stroud@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
        </div>

         <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.4989931856594!2d-81.20473618542323!3d28.55477508244852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e767cbd6b17191%3A0xf305283bda3ee94e!2sWaterford+Lakes+Town+Center!5e0!3m2!1sen!2sus!4v1494264561290" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

