<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
    <p class="lead">By being passionate in the art of development, I have acquired the skills in designing applications and understanding the object oriented language.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

  

       