<div class="inner cover">
  <h1 class="cover-heading"></h1>
    <p class="lead">One may be able to excel through higher education but to be able to fully understand software development, one must go beyond the classroom setting.</p>
    <p class="lead">
      <!--#%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>-->
    </p>
  </div>

  

       